<div id="signup-container">
  <div id="signin">
    <form class="md-form" name="signinForm" ng-submit="signin()">
      <h4 class="md-title">Sign In</h4>
      <input class="md-input" placeholder="Username" type="text" ng-model="user.loginUsername" required>
      <input class="md-input" placeholder="Password" type="password" ng-model="user.loginPassword" required>
      <button class="md-button">Submit</button>
    </form>
  </div>

  <div id="signup">
    <form class="md-form" name="signupForm" ng-submit="signup();">
      <h4 class="md-title">Create Account</h4>
      <input class="md-input" placeholder="First Name" type="text" ng-model="user.first_name" ng-keypress="updateBody();" required>
      <input class="md-input" placeholder="Last Name" type="text" ng-model="user.last_name" ng-keypress="updateBody();"required>
      <input class="md-input" placeholder="Email" type="text" ng-model="user.email" ng-keypress="updateBody();" required>
      <input class="md-input" placeholder="Phone" type="text" ng-model="user.phone_number" required>
      <input class="md-input" placeholder="Username" type="text" ng-model="user.username" ng-keypress="updateBody();" required>
      <input class="md-input" id="pw1" name = "pw1" placeholder="Password" type="password" ng-model="user.password" ng-keypress="updateBody();" required>
      <input class="md-input" id="pw2" name = "pw2" pw-check="pw1" placeholder="Confirm Password" type="password" ng-model="user.confirm_password" ng-keypress="updateBody();" required>
      <div class="msg-block" ng-show="myForm.$error">
        <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">
          Passwords don't match.
        </span>
      </div>
      <br>
      <button type="submit" class="md-button" ng-disabled="validatePhoneNumber()">Submit</button>
    </form>
  </div>
</div>
